{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de caracteristicas</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td><a href="{{ path('feature_show', { 'id': feature.id }) }}">{{ feature.name }}</a></td>
                <td>{{ feature.description }}</td>
                <td>{{ feature.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('feature_show', { 'id': feature.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('feature_edit', { 'id': feature.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p><a href="{{ path('feature_new') }}">Crear nueva caracteristica</a></p>
{% endblock %}
