{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear caracteristica</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}
    <hr>
    <p><a href="{{ path('feature_index') }}">Lista</a></p>
{% endblock %}
