{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feature</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ feature.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feature.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ feature.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feature_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('feature_edit', { 'id': feature.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
