{% extends 'base.html.twig' %}

{% block body %}
    <h1>No tienes permiso para ver este contenido</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('welcome') }}">return to the homepage</a>.
    </p>
{% endblock %}
