.container .map-container {
    border-radius: 6px;
    height:600px;
    width: 100%;
    position: relative;
    background-color: #C82829;
}
#map-container {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}
    
#hc1 li{
    margin: 0 2px 0 0;
}
#hc1 li .hpanel{
    padding: 2px;
    background: #FFCC66;
}
#hc1 .title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #ad2d2d;
}
