{% extends 'base.html.twig' %}

{% block body %}
    <h1>Buildingimages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagename</th>
                <th>Imagesize</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for buildingImage in buildingImages %}
            <tr>
                <td><a href="{{ path('buildingimage_show', { 'id': buildingImage.id }) }}">{{ buildingImage.id }}</a></td>
                <td>{{ buildingImage.imageName }}</td>
                <td>{{ buildingImage.imageSize }}</td>
                <td>{% if buildingImage.updatedAt %}{{ buildingImage.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('buildingimage_show', { 'id': buildingImage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('buildingimage_edit', { 'id': buildingImage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('buildingimage_new') }}">Create a new buildingImage</a>
        </li>
    </ul>
{% endblock %}
