{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agregar imagen al edificio</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('buildingimage_index') }}">Lista</a>
{% endblock %}
