{% extends 'base.html.twig' %}

{% block body %}
    <h1>Buildingimage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ buildingImage.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ buildingImage.fileName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('buildingimage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('buildingimage_edit', { 'id': buildingImage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
