{% extends 'base.html.twig' %}

{% block body %}
    <h1>Buildingfeatures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for buildingFeature in buildingFeatures %}
            <tr>
                <td><a href="{{ path('buildingfeature_show', { 'id': buildingFeature.id }) }}">{{ buildingFeature.id }}</a></td>
                <td>{{ buildingFeature.amount }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('buildingfeature_show', { 'id': buildingFeature.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
