<style>
.hidden {
  display: none;
  visibility: hidden;
} 
</style>
<div id="message" class="alert"></div>
{{ form_start(form,  {'action': path('buildingfeature_create'), 'method': 'POST'}) }}
    {{ form_row(form.building, {'attr': {'class': 'hidden'}}) }}
    {{ form_row(form.feature, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.amount, {'attr': {'class': 'form-control'}}) }}
    <input type="submit" value="Crear" />
{{ form_end(form) }}

<script type="text/javascript">
$(document).ready(function(){    
    $('form[name=propiedadesbundle_buildingfeature]').submit(function(e) {

        e.preventDefault();
        var formSerialize = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "{{ path('buildingfeature_create') }}",
            data: formSerialize,
            success: function(response){
                if(response.status === "success"){
                    location.reload()
                }
            },
            error: function(xhr, tst, err){
                if(xhr.status === 422) {
                    var resp = JSON.parse(xhr.responseText)
                    var message='<ul>';
                    $.each(resp.errors, function(i, error){
                        message+='<li>'+error+'</li>';
                    })
                    message+='</ul>';
                    $("#message").removeClass("alert-success").addClass("alert-danger").html(message);
                }else{
                    $("#message").removeClass("alert-success").addClass("alert-danger").html("Se ha producido un error");
                }
            },
            dataType: 'JSON'
        });
    });
})    
</script>


