{% extends 'home.html.twig' %}
{% block stylesheets %}

<link href="{{ asset('css/haccordion.css') }}" rel="stylesheet" media="screen">
<link href="{{ asset('css/map-search.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}

<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Busca uno de nuestros desarrollos</h3>
    <div class="row">    
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="map-container" class="map-container">
            </div>
            <input type="button" class="btn btn-default btn-lg btn-block" value="BUSCAR" id="searchOnMap">    
	</div>
        <div class="col-sm-4"></div>
    </div>
    
</div>

<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Titulo de prueba</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
</div>

<div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Otro titulo de prueba</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="https://image.flaticon.com/icons/png/512/196/196250.png" class="img-circle img-responsive margin" style="width:80%" alt="Image">
        </div>
        <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="https://image.flaticon.com/icons/svg/262/262815.svg" class="img-circle img-responsive margin" style="width:80%" alt="Image">
        </div>
        <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="https://image.flaticon.com/icons/png/512/288/288744.png" class="img-circle img-responsive margin" style="width:80%" alt="Image">
        </div>
    </div>
</div>
<div id="hc1" class="haccordion" style="visibility:hidden">
    <h4 id="titulo" class="title"></h4>
    <ul>
        <li>
            <div class="hpanel">
                <a id="link-0" href="#" rel="ibox" title="">
                    <img id="image-0" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 200px; height: 148px" alt="" />
                </a>
            </div>
        </li>
        <li>
            <div class="hpanel">
                <a id="link-0" href="#" rel="ibox" title="">
                    <img id="image-1" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 200px; height: 148px" alt="" />
                </a>
            </div>
        </li>
        <li>
            <div class="hpanel">
                <a id="link-0" href="#" rel="ibox" title="">
                    <img id="image-2" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 198px; height: 148px"alt="" />
                </a>
            </div>
        </li>
    </ul>
</div>
<div id="container"></div>
{% endblock %}
{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3" ></script>

<script src="{{ asset('js/map-search.js') }}"></script>
<script src="{{ asset('js/haccordion.js') }}"></script>
<script type="text/javascript">
haccordion.setup({
    accordionid: 'hc1',
    paneldimensions: { peekw: '40px', fullw: '200px', h: '200px' },
    selectedli: [0, true], 
    collapsecurrent: false 
})
</script>
{% endblock%}