{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="http://googlemaps.googlermania.com/tmp/slide_test/css/haccordion.css" rel="stylesheet" media="screen">
<link href="{{ asset('css/map-search.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}

<div class="container" id="container">
    <div class="starter-template">
        <div class="row">  
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">Busca construcciones en esta área</div>
                    <div id="map-container" class="map-container">
                    </div>
                </div>
                <input type="button" class="btn btn-primary btn-lg btn-block" value="Buscar" id="searchOnMap">
            </div>
        </div>
    </div>
    
</div>
<div id="hc1" class="haccordion" style="visibility:hidden">
    <h4 id="titulo"></h4>
    <ul>
        <li>
            <div class="hpanel">
                <a href="/buildingimage/1" rel="ibox" title="">
                    <img id="image-0" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 200px; height: 148px" alt="" />
                </a>
            </div>
        </li>
        <li>
            <div class="hpanel">
                <a href="/buildingimage/1" rel="ibox" title="">
                    <img id="image-1" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 200px; height: 148px" alt="" />
                </a>
            </div>
        </li>
        <li>
            <div class="hpanel">
                <a href="images/3.jpg" rel="ibox" title="">
                    <img id="image-2" src="http://downloadicons.net/sites/default/files/office-building-icon-68724.png" style="float: left; padding-right: 8px; width: 198px; height: 148px"alt="" />
                </a>
            </div>
        </li>
    </ul>
</div>    
{% endblock %}    
{% block javascripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3" ></script>

<script src="{{ asset('js/map-search.js') }}"></script>
<script src="http://googlemaps.googlermania.com/tmp/slide_test/js/haccordion.js"></script>
<script type="text/javascript">
haccordion.setup({
    accordionid: 'hc1',
    paneldimensions: { peekw: '40px', fullw: '200px', h: '200px' },
    selectedli: [0, true], 
    collapsecurrent: false 
})
</script>
{% endblock%}
