<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Prueba Propiedades{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  
            <a href="/" class="navbar-brand">Propiedades</a>
          
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  {% if app.user != null %}
            <ul class="nav navbar-nav">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogos<span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li><a href="{{ path('building_index') }}">Construcciones</a></li>
		<li><a href="{{ path('location_index') }}">Ubicaciones</a></li>
		<li><a href="{{ path('feature_index') }}">Caraceristicas</a></li>
		
	      </ul>
	    </li>
	  </ul>
          {% endif %}      
	  {% if app.user == null %}
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/login">Login</a></li>
	     
	  </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
	     <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.getFullName() }}<span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li><a href="/logout">Logout</a></li>
	      </ul>
	    </li>
	  </ul>    
          {% endif %}    
	</div>
      </div>
    </nav>
    <div class="container">
      
      {% block body %}{% endblock %}
        
    </div>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
  </body>
</html>
