<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prueba Propiedades.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  {% block stylesheets %}{% endblock %}
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #ad2d2d;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f;
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">Propiedades</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            {% if app.user == null %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">LOGIN</a></li>
            </ul>
            {% else %}    
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.getFullName() }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">LOGOUT</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}  
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">QUIEN</a></li>
                <li><a href="#">QUE</a></li>
                <li><a href="#">DONDE</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

<footer class="container-fluid bg-4 text-center">
  <p>Creado por Angel Gallegos 2017</p> 
</footer>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
