{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar ubicación</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}
    <hr>
    {{ form_start(delete_form) }}
        <input type="submit" value="Borrar">
    {{ form_end(delete_form) }}
    <hr>
    <p><a href="{{ path('location_index') }}">Lista</a></p>
    
            
    
{% endblock %}
