{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de ubicaciones</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Calle</th>
                <th>Numero</th>
                <th>Codigo Postal</th>
                <th>Referencia</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.street }}</a></td>
                <td>{{ location.streetNumber }}</td>
                <td>{{ location.zipCode }}</td>
                <td>{{ location.reference }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('location_show', { 'id': location.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('location_edit', { 'id': location.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p><a href="{{ path('location_new') }}">Crear nueva ubicacion</a></p>
{% endblock %}
