{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/map-search.css') }}" rel="stylesheet" media="screen">
<style>
.container .form-confirm-container {
    border-radius: 6px;
    height:600px;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
}
</style>
{% endblock %}
{% block body %}

<div class="container" id="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">Crear una nueva ubicación</div>
                    <div id="map-container" class="map-container">
                    </div>
                    <input type="button" class="btn btn-default btn-lg btn-block" value="Buscar" id="searchOnMap">
                    <br>
                </div>
                <div id="message" class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> Se ha presentado un problema.
                </div>
                <div class="panel" id="form-confirm-container">
                    <h3>Confirmar datos</h3>
                    <div class="form-confirm-container">
                        {{ form_start(form, {'attr': {'id': 'form_location_new'}}) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Crear" class="btn btn-primary btn-lg btn-block"/>
                        {{ form_end(form) }}
                        <br>
                        <a href="{{ path('location_index') }}">Lista</a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
            
{% endblock %}
{% block javascripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3" ></script>

<script>	
$(document).ready(function(){
    $("#form-confirm-container").hide();
    $("#message").hide();
    var lat = 19.4316409, lng = -99.1640527;
    var mapContainer = $("#map-container");
    var map;
    var infowindow = null;
    var contentString = "";
    var mapOptions = {
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    };
    var isDraggable = $(document).width() > 480 ? true : false;
    map = new google.maps.Map(mapContainer[0], mapOptions);
    var geolocate = new google.maps.LatLng(lat, lng);
    var myMarker = new google.maps.Marker({
	    position: geolocate,
    });
    var geocoder = new google.maps.Geocoder;
    myMarker.setPosition(geolocate);

    map.setCenter(myMarker.position);
    myMarker.setMap(map);

    google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event);
    });
    function placeMarker(evt) {
        lat = evt.latLng.lat();
        lng = evt.latLng.lng();
        geolocate = new google.maps.LatLng(lat, lng);
        myMarker.setPosition(geolocate)
        showInfoWindow(lat, lng);
    }

    if(!!navigator.geolocation) {    
	    navigator.geolocation.getCurrentPosition(function(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            geolocate = new google.maps.LatLng(lat, lng);
            myMarker.setPosition(geolocate);
            map.setCenter(myMarker.position);
            myMarker.setMap(map);
            showInfoWindow(lat, lng);
        }, function(){
            console.log("Geolocation is not active.");
        });
    }
    function add(){
        $("#form-confirm-container").hide();
        $("#message").hide();
        $("#searchOnMap").button('loading');
        $.ajax({
            type: "GET",
            url: "/location/search",
            data: {
                lat: lat,
                lng: lng
            },
            dataType: "json",
            success: function(response) {
                $("#propiedadesbundle_location_street").val(response.data.street);
                $("#propiedadesbundle_location_streetNumber").val(response.data.streetNumber);
                $("#propiedadesbundle_location_zipCode").val(response.data.zipCode);
                $("#propiedadesbundle_location_neighborhood").val(response.data.neighborhood);
                $("#propiedadesbundle_location_latitude").val(response.data.latitude)
                $("#propiedadesbundle_location_longitude").val(response.data.longitude)
                $("#propiedadesbundle_location_city").val(response.data.city)
                $("#form-confirm-container").show()
                location.href = "#form-confirm-container";
                $("#searchOnMap").button('reset');
            },
            error: function(){
                $("#message").show();
                location.href = "#message";
                $("#searchOnMap").button('reset');
            }
        });
    }
    function showInfoWindow(lat, lng){
        if (infowindow) {
            infowindow.close();
        }
        infowindow = new google.maps.InfoWindow();
        geocoder.geocode({'location': {lat: lat, lng: lng}}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    contentString = results[0].formatted_address;
                    infowindow.setContent(contentString);
                    infowindow.open(map, myMarker);
                }
            }
        })
    }
    $("#searchOnMap").on("click", function(){
        add();
    });    
}); 
</script>
{% endblock%}
