{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar construcción</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary btn-lg btn-block"/>
    {{ form_end(edit_form) }}
    <hr>
    
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">
                <a href="/buildingfeature/new/{{ building.id }}" id="add-feature">Agregar Caracteristica</a>
                |
                <a href="/buildingimage/new?id={{ building.id }}" id="add-feature">Agregar Imagen</a>
            </p>
        </div>
        <div class="col-sm-4"> 
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger center-block">
            {{ form_end(delete_form) }}
        </div>
        <div class="col-sm-4"> 
            <p class="text-center">
                <a href="{{ path('building_index') }}">Lista</a>
            </p>
        </div>
    </div>
    <hr>
    <h4>Caracteristicas</h4>
    <ul>
        
    {% for feature in building.features %} 
        <li>{{ feature.feature.name }} - {{ feature.amount }}</li>
    {% endfor %}
    </ul>
    <div id="createFeatureModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Crear construcción</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
$(document).ready(function(){
    $("#add-feature").on('click', function (e) {
        e.preventDefault();
        $('#createFeatureModal').modal('show');
        
    });
    $("#createFeatureModal").on("show.bs.modal", function(e) {
        var link = $("#add-feature");
        $(this).find(".modal-body").load(link.attr("href"));
    });
});
</script>
{% endblock%}