{% extends 'base.html.twig' %}

{% block body %}
<h1>Lista de edificios</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Complemento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td><a href="{{ path('building_show', { 'id': building.id }) }}">{{ building.keyword }}</a></td>
                <td>{{ building.name }}</td>
                <td>{{ building.complement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('building_show', { 'id': building.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('building_edit', { 'id': building.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p><a href="{{ path('building_new') }}">Crear nuevo edificio</a></p>
{% endblock %}