{% block stylesheets %}
<style>
.hidden {
  display: none;
  visibility: hidden;
}
#map-canvas{
    width:500px;
    height:300px;
    padding-bottom:5px
}
</style>
{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear construcción</h1>
    {{ form_start(form) }}
        {{ form_row(form.keyword) }}
        {{ form_row(form.name) }}
        {{ form_row(form.complement) }}
        {{ form_row(form.location) }}
        <div class="form_group">
            <a href="#" id="add-location">Crear ubicación</a>
            
        </div>
        <br>
        <input type="submit" value="Crear" class="btn btn-primary btn-lg btn-block"/>
    {{ form_end(form) }}
    <hr>
    <div class="row">
        <div class="col-sm-4">
           
        </div>
        <div class="col-sm-4"> 
            
        </div>
        <div class="col-sm-4"> 
            <p class="text-center">
                <a href="{{ path('building_index') }}">Lista</a>
            </p>
        </div>
    </div>
    <div id="createFeatureModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Crear ubicación</h4>
                </div>
                <div class="modal-body">
                      <div id="map-canvas-modal"  ></div>
                      <div class="panel" id="form-confirm-container">
                        <h3>Confirmar datos</h3>
                        <div class="form-confirm-container">
                          {{ form_start(form_location, {'attr': {'id': 'form_location_new'}}) }}
                              {{ form_widget(form_location) }}
                              <input type="submit" value="Crear" class="btn btn-primary btn-lg btn-block"/>
                          {{ form_end(form_location) }}

                        </div>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="searchOnMap" type="button" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="map-canvas" style="display:none;"></div>
      
    
{% endblock %}

{% block javascripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3" ></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#form-confirm-container").hide();
    var lat = 19.4316409, lng = -99.1640527;
    var mapContainer = $("#map-canvas");
    var map;
    var infowindow = null;
    var contentString = "";
    var mapOptions = {
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    };
    //var isDraggable = $(document).width() > 480 ? true : false;
    map = new google.maps.Map(mapContainer[0], mapOptions);
    var geolocate = new google.maps.LatLng(lat, lng);
    var myMarker = new google.maps.Marker({
	    position: geolocate,
    });
    var geocoder = new google.maps.Geocoder;
    myMarker.setPosition(geolocate);

    map.setCenter(myMarker.position);
    myMarker.setMap(map);

    google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event);
    });
    function placeMarker(evt) {
        lat = evt.latLng.lat();
        lng = evt.latLng.lng();
        geolocate = new google.maps.LatLng(lat, lng);
        myMarker.setPosition(geolocate)
        showInfoWindow(lat, lng);
    }

    if(!!navigator.geolocation) {    
	    navigator.geolocation.getCurrentPosition(function(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            geolocate = new google.maps.LatLng(lat, lng);
            myMarker.setPosition(geolocate);
            map.setCenter(myMarker.position);
            myMarker.setMap(map);
            showInfoWindow(lat, lng);
        }, function(){
            console.log("Geolocation is not active.");
        });
    }
    function add(){
        $("#form-confirm-container").hide();
        $("#message").hide();
        $("#searchOnMap").button('loading');
        $.ajax({
            type: "GET",
            url: "/location/search",
            data: {
                lat: lat,
                lng: lng
            },
            dataType: "json",
            success: function(response) {
                $("#propiedadesbundle_location_street").val(response.data.street);
                $("#propiedadesbundle_location_streetNumber").val(response.data.streetNumber);
                $("#propiedadesbundle_location_zipCode").val(response.data.zipCode);
                $("#propiedadesbundle_location_neighborhood").val(response.data.neighborhood);
                $("#propiedadesbundle_location_latitude").val(response.data.latitude)
                $("#propiedadesbundle_location_longitude").val(response.data.longitude)
                $("#propiedadesbundle_location_city").val(response.data.city)
                $("#form-confirm-container").show()
                location.href = "#form-confirm-container";
                $("#searchOnMap").button('reset');
            },
            error: function(){
                $("#message").show();
                location.href = "#message";
                $("#searchOnMap").button('reset');
            }
        });
    }
    function showInfoWindow(lat, lng){
        if (infowindow) {
            infowindow.close();
        }
        infowindow = new google.maps.InfoWindow();
        geocoder.geocode({'location': {lat: lat, lng: lng}}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    contentString = results[0].formatted_address;
                    infowindow.setContent(contentString);
                    infowindow.open(map, myMarker);
                }
            }
        })
    }
    $("#add-location").on('click', function (e) {
        $('#createFeatureModal').modal('show');
        e.preventDefault();
    });
    $('#createFeatureModal').on('shown.bs.modal', function () {
        var mapNode = map.getDiv();
        $('#map-canvas').show();
        $('#map-canvas-modal').append(mapNode);
    })
    $("#searchOnMap").on("click", function(){
        add();
    });
    $('form[name=propiedadesbundle_location]').submit(function(e) {

        e.preventDefault();
        var formSerialize = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "{{ path('location_new') }}",
            data: formSerialize,
            success: function(response){
                if(response.status === "success"){
                    $("#propiedadesbundle_building_location").remove();
                    $('label[for="propiedadesbundle_building_location"]').remove();
                    $("form[name=propiedadesbundle_building]").append('<input type="hidden" name="propiedadesbundle_building[location]" value="'+response.id+'" id="propiedadesbundle_building_location"/>');
                    $('#createFeatureModal').modal('hide');
                }
            },
            error: function(xhr, tst, err){
                if(xhr.status === 422) {
                    var resp = JSON.parse(xhr.responseText)
                    var message='<ul>';
                    $.each(resp.errors, function(i, error){
                        message+='<li>'+error+'</li>';
                    })
                    message+='</ul>';
                    $("#message").removeClass("alert-success").addClass("alert-danger").html(message);
                }else{
                    $("#message").removeClass("alert-success").addClass("alert-danger").html("Se ha producido un error");
                }
            },
            dataType: 'JSON'
        });
    });
});

</script>
{% endblock%}
