{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <h1>{{ building.name }}</h1>
        <hr>
        <p class="lead">
            {{ building.location }}
        </p>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time">{{ building.keyword }}</span> 
        </p>
        <hr>
        {% if building.images is not empty %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://www.hanoverfinancialllc.com/images/placeholder_building.jpg" alt="Chania">
                    
                </div>
                {% for image in building.images %}
                <div class="item">
                    <img src="/buildingimage/{{ image.id }}" alt="">
                    
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <hr>
        {% endif %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
        {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <p>
            <a href="{{ path('building_index') }}">Lista</a> |
            <a href="{{ path('building_edit', { 'id': building.id }) }}">Editar</a> |
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </p>
        {% endif %}
    </div>
  
  
    <div class="col-md-4">
        <h4>Caracteristicas</h4>
        {% for feature in building.features %}      
            <div class="well">
                <h4>{{ feature.feature.name }} : {{ feature.amount }}</h4>
                <p>{{ feature.feature.description }}</p>
        
            </div>
        {% endfor %}
    </div>
</div>
<hr>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Creado por Angel Gallegos 2017</p>
        </div>
    </div>
</footer>
{% endblock %}